input {
    background: none;
    outline: none;
    border: none;
  }
body{
    background:white
}
.select-login{
    font-size:20px;
    color:#ccc;
}
.select-login div:hover{
    color:black
}
.select-login .active{
    width:40px;
    color:black;
    padding-bottom:8px;
    border-bottom:4px solid #00A862
}
.select-login .empty{
    width:100%;
    height:20px
}
.select-login .club{
    margin-top:20px
}
.right{
    background:white
}
.login .banner{
height:400px
}
.login .input{
    margin:0 auto;
    width:500px;
    position:relative;
    top:40px
}
.login .input input{
    width:200px;
    height:80px;
    font-size:20px;
}
.login .input input[type="password"]{
    margin-top:20px
}
.login .input .line{
    width:100%;
    height:1px;
    background:#ccc
}
.login .input .content:hover .line{
    background:#00A862
}
.login .input .btn{
    margin-top:40px;
    margin-left:200px;
    font-size:20px;
    background:#00A862;
    padding:10px 20px;
    border-radius:30px;
    color:white
}
.login .footer{
    margin-top:80px;
    height:280px;
    width:100%
}
.copyright{
    background:white;
    position:relative;
    text-align:center;
    height:50px;
    line-height:50px;
    font-size:18px
}
.copyright:before{
    content:"";
    position:absolute;
    width:20px;
    height:50px;
    background:white;
    left:-20px
}
.copyright:after{
    content:"";
    position:absolute;
    width:10px;
    height:50px;
    background:white;
    right:-5px
}
